    body {
        background: #4b2e83;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial;
        overflow: hidden;
    }

    .bg-video {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover; 
        z-index: -1;
   }
 
    .calc {
        width: 350px;
        height: 550px;
        background: #ffffff4d;
        border-radius: 20px;
        backdrop-filter: blur(15px);
        border: #ffffff63 1px solid;
        overflow: hidden;
        box-shadow: 0 0px 30px rgba(0, 0, 0, 0.5);
    }

    .tela {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        font-size: 32px;
        height: 60px;
        color: white;
        background: transparent;
        border: none;
        outline: none;
        overflow-x: auto;
        white-space: nowrap;
        display: block;
    }

    .botoes {
        position: absolute;
        bottom: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 10px;
        gap: 10px;
        z-index: 10;
        color: white;
    }

    button {
        background: transparent;
        width: 60px;
        border: #ffffff63 1px solid;
        border-radius: 30px;
        font-size: 22px;
        color: white;
        cursor: pointer;
        padding: 15px;
    }

    button:active {
        transform: scale(0.95);
        opacity: 0.7;
    }

    .btn-ac, .btn-resul {
        color: hwb(281 20% 65%);
        border: hwb(281 20% 65%) 1px solid;
    }

    .contaAnterior {
        width: 100%;
        padding-left: 22px;
        font-size: 18px;
        color: #ffffffaa;
        height: 25px;
        overflow: hidden;
        text-align: left;
        margin-top: 65px;
    }

    .btn-0 { grid-column: 2; }

/* responsividade para mobile na horizontal */
@media (max-width: 1023px) and (orientation: landscape) and (pointer: coarse), (max-height: 400px){

    .calc {
        width: 500px;
        height: 325px;
    }

    .botoes {
        grid-template-columns: repeat(6, 1fr);
        bottom: 5px;
    }


    .botoes {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        bottom: 5px;
    }

    button {
        width: 45px;
        padding: 10px;
        font-size: 20px;
    }

    .tela {
        font-size: 24px;
        height: 0px;
    }

    .contaAnterior { margin-top: 25px; }


    /* 1ª linha */
    .btn-ac { grid-column: 1; grid-row: 1; }
    .btn-c { grid-column: 2; grid-row: 1; }
    .btn-paren { grid-column: 3; grid-row: 1; }
    .btn-mu{ grid-column: 4; grid-row: 1; } 
    .btn-di{ grid-column: 5; grid-row: 1; }

    /* 2ª linha*/
    .btn-6 { grid-column: 1; grid-row: 2; }
    .btn-7 { grid-column: 2; grid-row: 2; }
    .btn-8 { grid-column: 3; grid-row: 2; }
    .btn-9 { grid-column: 4; grid-row: 2; }
    .btn-soma { grid-column: 5; grid-row: 2; }

    /* 3ª linha*/
    .btn-2 { grid-column: 1; grid-row: 3; }
    .btn-3 { grid-column: 2; grid-row: 3; }
    .btn-4 { grid-column: 3; grid-row: 3; }
    .btn-5 { grid-column: 4; grid-row: 3; }
    .btn-sub { grid-column: 5; grid-row: 3; }

    /* 4ª linha*/
    .btn-0 { grid-column: 2; grid-row: 4; }
    .btn-1 { grid-column: 3; grid-row: 4; }
    .btn-ponto { grid-column: 4; grid-row: 4; }
    .btn-resul { grid-column: 5; grid-row: 4; }
}


